body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  background-color: black;
  overflow-x: hidden;
}

.brand {
  display: flex;
  position: relative;
  width: 100%;
  height: 9.5rem;
  color: #ffffff;
  background-color: #3d405b;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  border-left: 0.1px solid white;
}

.brand-name {
  max-width: 20.8rem;
  height: 2rem;
  line-height: 33.18px;
  left: 150px;
  padding-left: 12rem;
  float: left;
  align-items: center;
}

.brand-name a {
  color: #ffffff;
  font-size: 2.8rem;
  font-weight: 700;
}

.brand-name span {
  color: #aa5e31;
}

.brand-nav {
  max-width: 60%;
  list-style-type: none;
  font-size: 1.5rem;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 300px;
  align-items: center;
  text-align: center;
  justify-self: center;
}

.brand nav ul li a {
  color: #ffffff;
  float: left;
  list-style-type: none;
  gap: 10;
}

.brand li {
  list-style-type: none;
  float: left;
  margin: 6rem;
}

.brand li a:hover {
  text-decoration: none;
  text-decoration-color: #aa5e31;
  border-bottom: 2px solid #aa5e31;
}

.brand li a:active {
  text-decoration: none;
  color: #aa5e31;
  border-bottom: 2px solid #aa5e31;
}

.hambugger {
  display: none;
}

/*new*/
.rewind {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  width: 100%;
  margin: auto;
  height: 2vh;

  background-color: white;
}

#wind button {
  color: #3d405b;
  border: none;
  background-color: inherit;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  margin: 2rem;
}

#wind a {
  color: #3d405b;
}

#blue:hover {
  fill: #aa5e31;
}

#wind button a:hover {
  color: #aa5e31;
}

/*new*/
.real {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  width: 100%;
  margin: auto;
  height: 5vh;
  padding: 3rem;
  padding-left: 12rem;
  padding-top: 5rem;
  background-color: white;
}

.real1 h1 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

/* new*/
.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 80vh;
  background-color: white;
  padding: 12rem;
}

#whislist:hover {
  background-color: #3d405b;
  color: #ffffff;
}

/* #whislist {
  color: black;
  background-color: #ffffff;
  border: 1px solid #aa5e31;
} */
.one {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 67vh;
  width: 32%;
  border-radius: 8px;
  text-align: left;
  padding: 2rem;
  line-height: 28px;
}

.two {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);

  height: 67vh;
  width: 32%;
  border-radius: 8px;
  text-align: left;
  line-height: 28px;
  padding: 2rem;
}

.three {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
  text-align: left;
  height: 67vh;
  line-height: 28px;
  width: 32%;
  border-radius: 8px;
  padding: 2rem;
}

.one img {
  width: 100%;
  margin: auto;
  height: 30vh;
  border-radius: 5px;
}

.two img {
  width: 100%;
  margin: auto;
  height: 30vh;
  border-radius: 5px;
}

.three img {
  width: 100%;
  margin: auto;
  height: 30vh;
  border-radius: 5px;
}

#mybutton {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 20px;
  text-align: center;
  background-color: #aa5e31;
  color: #ffffff;
  width: 100px;
  border: none;
  height: 30px;
  border-radius: 5px;
  font-weight: 600;
}

#Whislist {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 20px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #aa5e31;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-weight: 600;
  margin-left: 5px;
}

#mybutton:hover {
  background-color: #3d405b;
  color: #ffffff;
}

#Whislist:hover {
  color: #000000;
  border: 1px solid #3d405b;
}

.one a {
  font-size: 1rem;
  margin-left: 1.2rem;
  color: #ffffff;
}

/*new*/
.main3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 67vh;
  background-color: white;
  padding: 12rem;
}

.seven {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 67vh;
  width: 32%;
  border-radius: 8px;
  text-align: left;
  padding: 2rem;
  line-height: 28px;
}

.eight {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);

  height: 67vh;
  width: 32%;
  border-radius: 8px;
  text-align: left;
  line-height: 28px;
  padding: 2rem;
}

.nine {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
  text-align: left;
  height: 67vh;
  line-height: 28px;
  width: 32%;
  border-radius: 8px;
  padding: 2rem;
}

.seven img {
  width: 100%;
  margin: auto;
  height: 30vh;
  border-radius: 5px;
}

.eight img {
  width: 100%;
  margin: auto;
  height: 30vh;
  border-radius: 5px;
}

.nine img {
  width: 100%;
  margin: auto;
  height: 30vh;
  border-radius: 5px;
}

.main2 button {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 20px;
  text-align: center;
  background-color: #aa5e31;
  color: #ffffff;
  width: 100px;
  border: none;
  height: 30px;
  border-radius: 5px;
  font-weight: 600;
}

.main2 button:hover {
  background-color: #3d405b;
  color: #ffffff;
}

/*new*/
.main2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 80vh;
  background-color: white;
  padding: 12rem;
}

.four {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 67vh;
  width: 32%;
  border-radius: 8px;
  text-align: left;
  padding: 2rem;
  line-height: 28px;
}

.five {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);

  height: 67vh;
  width: 32%;
  border-radius: 8px;
  text-align: left;
  line-height: 28px;
  padding: 2rem;
}

.six {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
  text-align: left;
  height: 67vh;
  line-height: 28px;
  width: 32%;
  border-radius: 8px;
  padding: 2rem;
}

.four img {
  width: 100%;
  margin: auto;
  height: 30vh;
  border-radius: 5px;
}

.five img {
  width: 100%;
  margin: auto;
  height: 30vh;
  border-radius: 5px;
}

.six img {
  width: 100%;
  margin: auto;
  height: 30vh;
  border-radius: 5px;
}

.main3 button {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 20px;
  text-align: center;
  background-color: #aa5e31;
  color: #ffffff;
  width: 100px;
  border: none;
  height: 30px;
  border-radius: 5px;
  font-weight: 600;
}

.main3 button:hover {
  background-color: #3d405b;
  color: #ffffff;
}

#whislist button:hover {
  background-color: #3d405b;
  color: #ffffff;
}

#whislist {
  color: black;
  background-color: #ffffff;
  border: 1px solid #aa5e31;
}

/*next*/
.next {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 10vh;
  padding: 3rem;
  padding-left: 12rem;
  padding-top: 3rem;
  background-color: white;
  padding-bottom: 4rem;
}

.next1 h1 {
  color: #aa5e31;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  margin-left: 1rem;
}

.next2 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  color: #33333399;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
}

.next3 h1 {
  color: #aa5e31;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  margin-right: 11rem;
}

.next h1:hover {
  color: #3d405b;
}

#bel:hover {
  fill: #3d405b;
}

/*footer*/
footer {
  width: 100%;
  margin: auto;
  background-color: #3d405b;
  height: 56vh;
  display: flex;
  justify-content: space-around;
  font-family: "Montserrat", serif;
  align-self: start;
  padding: 3rem;
}

.copyright {
  width: 30%;
  background-color: #3d405b;
  height: 46vh;
  display: flex;
  justify-content: left;
  font-family: "Montserrat", serif;
  align-self: start;
}

.started button {
  display: block;
  margin: 1rem;
  margin-left: 0px;
  width: 100px;
  height: 5vh;
  font-weight: 500;
  border: none;
  font-size: 1.3rem;
  border-radius: 3px;
  color: #3d405b;
}

.started button a {
  font-size: 1.3rem;
  color: #3d405b;
}

.start {
  font-size: 1.3rem;
}

.eleven {
  max-width: 90%;
  height: 2rem;
  line-height: 23.18px;
  left: 150px;
  padding-left: 5rem;
  float: left;
  align-items: center;
  margin-top: 7rem;
}

.eleven a {
  color: #ffffff;
  font-size: 3.5rem;
  font-weight: 600;
}

.eleven span {
  color: #aa5e31;
}

.eleven h1 {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 2rem;
}

.right {
  width: 70%;
  background-color: #3d405b;
  height: 46vh;
  display: flex;
  justify-content: left;
  font-family: "Montserrat", serif;
  align-self: start;
}

.twelve {
  margin-top: 5rem;
}

.thirteen {
  margin-top: 5rem;
}

.fourteen {
  margin-top: 5rem;
}

.fifteen {
  margin-top: 5rem;
}

footer li {
  list-style-type: none;
  color: #ffffff;
  padding: 1rem;
  margin-left: 10rem;
  font-weight: 300;
  font-size: 1.3rem;
}

footer p {
  list-style-type: none;
  color: #ffffff;
  padding: 1rem;
  margin-left: 10rem;
  font-weight: 300;
  font-size: 1.3rem;
}

footer li:hover {
  color: #aa5e31;
}

footer button :hover {
  color: white;
  background-color: #aa5e31;
}

footer button:hover {
  color: white;
  background-color: #aa5e31;
}

.sixteen {
  display: none;
}

@media only screen and (max-width: 1024px) {

  /* For tablet phones: */
  .brand {
    display: flex;
    position: relative;
    width: 100%;
    height: 9vh;
    color: #ffffff;
    background-color: #3d405b;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    border-left: 0.1px solid white;
  }

  .brand-name {
    max-width: 20%;
    height: 2rem;
    line-height: 33.18px;
    left: 120px;
    padding-left: 7rem;
    float: left;
    align-items: center;
  }

  .brand-name a {
    color: #ffffff;
    font-size: 2.4rem;
    font-weight: 700;
  }

  .brand-name span {
    color: #aa5e31;
  }

  .brand-nav {
    width: 60%;
    list-style-type: none;
    font-size: 1.5rem;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    left: 250px;
    align-items: center;
    text-align: center;
    justify-self: center;
  }

  .brand nav ul li a {
    color: #ffffff;
    float: left;
    list-style-type: none;
    font-weight: 500;
    font-size: 1.3rem;
    gap: 10;
  }

  .brand li {
    list-style-type: none;
    float: left;
    margin: 3rem;
  }

  .brand li a:hover {
    text-decoration: none;
    text-decoration-color: #aa5e31;
    border-bottom: 2px solid #aa5e31;
  }

  .hambugger {
    display: none;
    max-width: 20%;
    list-style-type: none;
    font-size: 1.5rem;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    left: 450px;
    margin-left: 25rem;
    align-items: center;
    text-align: center;
    justify-self: center;
  }

  /*new*/
  .rewind {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    height: 2vh;

    background-color: white;
  }

  .wind button {
    color: #3d405b;
    border: none;
    background-color: inherit;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    margin: 2rem;
  }

  .wind a {
    color: #3d405b;
  }

  #blue:hover {
    fill: #aa5e31;
  }

  .wind button a:hover {
    color: #aa5e31;
    border-bottom: 1px solid #aa5e31;
  }

  /*new*/
  .real {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    height: 5vh;
    padding: 3rem;
    padding-left: 7rem;
    padding-top: 5rem;
    background-color: white;
  }

  .real1 h1 {
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
  }

  /* new*/
  .main {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    margin: auto;
    height: auto;
    background-color: white;
    padding: 6rem;
  }

  .one {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    height: auto;
    width: 48%;
    border-radius: 8px;
    text-align: left;
    padding: 2rem;
    line-height: 28px;
  }

  .two {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);

    height: auto;
    width: 48%;
    border-radius: 8px;
    text-align: left;
    line-height: 28px;
    padding: 2rem;
  }

  .three {
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
    height: 67vh;
    line-height: 28px;
    width: 48%;
    border-radius: 8px;
    padding: 2rem;
  }

  .one img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .two img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .three img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .main button {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    background-color: #aa5e31;
    color: #ffffff;
    width: 100px;
    border: none;
    height: 30px;
    border-radius: 5px;
    font-weight: 600;
  }

  .one a {
    font-size: 1rem;
    margin-left: 1.2rem;
    color: #ffffff;
  }

  /*new*/
  .main3 {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    margin: auto;
    height: auto;
    background-color: white;
    padding: 6rem;
  }

  .seven {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    height: auto;
    width: 48%;
    border-radius: 8px;
    text-align: left;
    padding: 2rem;
    line-height: 28px;
  }

  .eight {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);

    height: auto;
    width: 48%;
    border-radius: 8px;
    text-align: left;
    line-height: 28px;
    padding: 2rem;
  }

  .nine {
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
    height: 67vh;
    line-height: 28px;
    width: 32%;
    border-radius: 8px;
    padding: 2rem;
  }

  .seven img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .eight img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .nine img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .main2 button {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    background-color: #aa5e31;
    color: #ffffff;
    width: 100px;
    border: none;
    height: 30px;
    border-radius: 5px;
    font-weight: 600;
  }

  /*new*/
  .main2 {
    display: flex;
    justify-content: space-around;

    align-items: center;
    width: 100%;
    margin: auto;
    height: auto;
    background-color: white;
    padding: 6rem;
  }

  .four {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    height: auto;
    width: 48%;
    border-radius: 8px;
    text-align: left;
    padding: 2rem;
    line-height: 28px;
  }

  .five {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);

    height: auto;
    width: 48%;
    border-radius: 8px;
    text-align: left;
    line-height: 28px;
    padding: 2rem;
  }

  .six {
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
    height: 67vh;
    line-height: 28px;
    width: 32%;
    border-radius: 8px;
    padding: 2rem;
  }

  .four img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .five img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .five img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .main3 button {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    background-color: #aa5e31;
    color: #ffffff;
    width: 100px;
    border: none;
    height: 30px;
    border-radius: 5px;
    font-weight: 600;
  }

  /*next*/
  .next {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin: auto;
    height: auto;
    padding: 3rem;
    padding-left: 6rem;
    padding-top: 3rem;
    background-color: white;
    padding-bottom: 2rem;
  }

  .next1 h1 {
    color: #aa5e31;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    margin-left: 1rem;
  }

  .next2 {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    color: #33333399;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
  }

  .next3 h1 {
    color: #aa5e31;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    margin-right: 4rem;
  }

  .next h1:hover {
    color: #3d405b;
  }

  #bel:hover {
    fill: #3d405b;
  }

  footer {
    width: 100%;
    margin: auto;
    background-color: #3d405b;
    height: auto;
    display: flex;
    justify-content: space-around;
    font-family: "Montserrat", serif;
    align-self: start;
    padding: 3rem;
  }

  .copyright {
    width: 30%;
    background-color: #3d405b;
    height: 56vh;
    display: flex;
    justify-content: left;
    font-family: "Montserrat", serif;
    align-self: start;
  }

  .started button {
    display: block;
    margin: 1rem;
    margin-left: 0px;
    width: 120px;
    height: 4vh;
    font-weight: 500;
    border: none;
    font-size: 1.3rem;
    border-radius: 3px;
    color: #3d405b;
  }

  .started button a {
    font-size: 1.3rem;
    color: #3d405b;
  }

  .start {
    display: block;
    font-size: 12px;
  }

  .eleven {
    max-width: 90%;
    height: 2rem;
    line-height: 23.18px;
    left: 150px;
    padding-left: 5rem;
    float: left;
    align-items: center;
    margin-top: 7rem;
  }

  .eleven a {
    color: #ffffff;
    font-size: 3.5rem;
    font-weight: 600;
  }

  .eleven span {
    color: #aa5e31;
  }

  .eleven h1 {
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: 2rem;
  }

  .right {
    width: 70%;
    background-color: #3d405b;
    height: 56vh;
    display: flex;
    justify-content: left;
    font-family: "Montserrat", serif;
    align-self: start;
  }

  .twelve {
    margin-top: 3rem;
  }

  .thirteen {
    margin-top: 3rem;
  }

  .fourteen {
    margin-top: 3rem;
  }

  .fifteen {
    margin-top: 3rem;
  }

  footer li {
    list-style-type: none;
    color: #ffffff;
    padding: 1rem;
    margin-left: 2rem;
    font-weight: 300;
    font-size: 1.1rem;
  }

  footer p {
    list-style-type: none;
    color: #ffffff;
    padding: 1rem;
    margin-left: 2rem;
    font-weight: 300;
    font-size: 1.1rem;
  }

  footer li:hover {
    color: #aa5e31;
  }

  footer button :hover {
    color: white;
    background-color: #aa5e31;
  }

  footer button:hover {
    color: white;
    background-color: #aa5e31;
  }

  .sixteen {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  /* For mobile phones: */

  .brand {
    display: flex;
    position: relative;
    width: 100%;
    height: 8.5vh;
    color: #ffffff;
    background-color: #3d405b;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border: none;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    border-left: 0.1px solid white;
  }

  .brand-name {
    max-width: 20.8rem;
    height: 2rem;
    line-height: 33.18px;
    left: 50px;
    padding-left: 3rem;
    float: left;
    align-items: center;
  }

  .brand-name a {
    color: #ffffff;
    font-size: 2.8rem;
    font-weight: 600;
  }

  .brand-name span {
    color: #aa5e31;
  }

  .brand-nav {
    display: none;
    max-width: 60%;
    list-style-type: none;
    font-size: 1.5rem;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    left: 190px;
    align-items: center;
    text-align: center;
    justify-self: center;
  }

  .brand nav ul li a {
    color: #ffffff;
    float: left;
    list-style-type: none;
    font-size: 14px;
    gap: 10;
  }

  .brand li {
    list-style-type: none;
    float: left;
    margin: 2rem;
  }

  .brand li a:hover {
    text-decoration: none;
    text-decoration-color: #aa5e31;
    border-bottom: 2px solid #aa5e31;
  }

  .hambugger {
    display: flex;
    max-width: 20%;
    list-style-type: none;
    font-size: 1.5rem;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    left: 350px;
    margin-left: auto;
    align-items: center;
    text-align: center;
    justify-self: center;
  }

  /*new*/
  .rewind {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    height: 2vh;
    border: none;
    background-color: white;
  }

  #wind button {
    color: #3d405b;
    border: none;
    background-color: inherit;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    margin: 2rem;
  }

  #blue:hover {
    fill: #aa5e31;
  }

  .wind button:hover {
    color: #aa5e31;
  }

  /*new*/
  .real {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    height: 5vh;
    padding: 3rem;
    padding-left: 6rem;
    padding-top: 5rem;
    background-color: white;
  }

  .real1 h1 {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
  }

  /* new*/
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    height: auto;
    background-color: white;
    padding: 2rem;
  }

  .one {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    height: auto;
    width: 80%;
    border-radius: 8px;
    text-align: left;
    padding: 2rem;
    line-height: 28px;
  }

  .two {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);

    height: auto;
    width: 80%;
    border-radius: 8px;
    text-align: left;
    line-height: 28px;
    padding: 2rem;
  }

  .three {
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
    height: 67vh;
    line-height: 28px;
    width: 80%;
    border-radius: 8px;
    padding: 2rem;
  }

  .one img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .two img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .three img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .main button {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    background-color: #aa5e31;
    color: #ffffff;
    width: 100px;
    border: none;
    height: 30px;
    border-radius: 5px;
    font-weight: 600;
  }

  .one a {
    font-size: 1rem;
    margin-left: 1.2rem;
    color: #ffffff;
  }

  /*new*/
  .main3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    height: auto;
    background-color: white;
    padding: 2rem;
  }

  .seven {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    height: auto;
    width: 80%;
    border-radius: 8px;
    text-align: left;
    padding: 2rem;
    line-height: 28px;
  }

  .eight {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);

    height: auto;
    width: 80%;
    border-radius: 8px;
    text-align: left;
    line-height: 28px;
    padding: 2rem;
  }

  .nine {
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
    height: 67vh;
    line-height: 28px;
    width: 80%;
    border-radius: 8px;
    padding: 2rem;
  }

  .seven img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .eight img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .nine img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .main2 button {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    background-color: #aa5e31;
    color: #ffffff;
    width: 100px;
    border: none;
    height: 30px;
    border-radius: 5px;
    font-weight: 600;
  }

  /*new*/
  .main2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    height: auto;
    background-color: white;
    padding: 2rem;
  }

  .four {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    height: auto;
    width: 80%;
    border-radius: 8px;
    text-align: left;
    padding: 2rem;
    line-height: 28px;
  }

  .five {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);

    height: auto;
    width: 80%;
    border-radius: 8px;
    text-align: left;
    line-height: 28px;
    padding: 2rem;
  }

  .six {
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
    height: 67vh;
    line-height: 28px;
    width: 80%;
    border-radius: 8px;
    padding: 2rem;
  }

  .four img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .five img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .five img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .main3 button {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    background-color: #aa5e31;
    color: #ffffff;
    width: 100px;
    border: none;
    height: 30px;
    border-radius: 5px;
    font-weight: 600;
  }

  /*next*/
  .next {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    height: auto;
    padding: 1rem;
    padding-left: 4rem;

    background-color: white;
    padding-bottom: 2rem;
  }

  .next1 h1 {
    color: #aa5e31;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    margin-left: 1rem;
  }

  .next2 {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    color: #33333399;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
  }

  .next3 h1 {
    color: #aa5e31;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    margin-right: 5rem;
  }

  .next h1:hover {
    color: #3d405b;
  }

  #bel:hover {
    fill: #3d405b;
  }

  #bel {
    fill: #ffffff;
  }

  /*footer*/
  footer {
    width: 100%;
    margin: auto;
    background-color: #3d405b;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Montserrat", serif;
    align-self: start;
    padding: 3rem;
  }

  .copyright {
    width: 90%;
    background-color: #3d405b;
    height: 36vh;
    display: flex;
    justify-content: left;
    font-family: "Montserrat", serif;
    align-self: start;
  }

  .started button {
    display: block;
    margin: 1rem;
    margin-left: 0px;
    width: 120px;
    height: 4vh;
    font-weight: 500;
    border: none;
    font-size: 1.3rem;
    border-radius: 3px;
    color: #3d405b;
  }

  .started button a {
    font-size: 1.3rem;
    color: #3d405b;
  }

  .start {
    display: none;
    font-size: 12px;
  }

  .eleven {
    max-width: 90%;
    height: 2rem;
    line-height: 23.18px;
    left: 150px;
    padding-left: 2rem;
    float: left;
    align-items: center;
    margin-top: 2rem;
  }

  .eleven a {
    color: #ffffff;
    font-size: 3.5rem;
    font-weight: 600;
  }

  .eleven span {
    color: #aa5e31;
  }

  .eleven h1 {
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: 2rem;
  }

  .right {
    width: 90%;

    background-color: #3d405b;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    justify-content: left;
    font-family: "Montserrat", serif;
    align-self: start;
  }

  .twelve {
    margin-top: 0.1rem;
  }

  .thirteen {
    margin-top: 0.1rem;
  }

  .fourteen {
    margin-top: 0.1rem;
  }

  .fifteen {
    margin-top: 0.1rem;
  }

  footer li {
    list-style-type: none;
    color: #ffffff;
    padding: 1rem;
    margin-left: 3rem;
    font-weight: 300;
    font-size: 1.3rem;
  }

  footer p {
    list-style-type: none;
    color: #ffffff;
    padding: 1rem;
    margin-left: 3rem;
    font-weight: 300;
    font-size: 1.1rem;
  }

  footer li:hover {
    color: #aa5e31;
  }

  footer button :hover {
    color: white;
    background-color: #aa5e31;
  }

  .sixteen {
    height: auto;
    background-color: #3d405b;
    display: flex;
    font-size: 0.5rem;
    color: #ffffff;
    justify-content: left;
    padding-left: 3rem;
  }
}

/* new*/

@media only screen and (max-width: 430px) {
  /* For mobile phones: */

  .brand {
    display: flex;
    position: relative;
    width: 100%;
    height: 8.5vh;
    color: #ffffff;
    background-color: #3d405b;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border: none;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    border-left: 0.1px solid white;
  }

  .brand-name {
    max-width: 20.8rem;
    height: 2rem;
    line-height: 33.18px;
    left: 50px;
    padding-left: 3rem;
    float: left;
    align-items: center;
  }

  .brand-name a {
    color: #ffffff;
    font-size: 2.8rem;
    font-weight: 600;
  }

  .brand-name span {
    color: #aa5e31;
  }

  .brand-nav {
    display: none;
    max-width: 60%;
    list-style-type: none;
    font-size: 1.5rem;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    left: 190px;
    align-items: center;
    text-align: center;
    justify-self: center;
  }

  .brand nav ul li a {
    color: #ffffff;
    float: left;
    list-style-type: none;
    font-size: 14px;
    gap: 10;
  }

  .brand li {
    list-style-type: none;
    float: left;
    margin: 2rem;
  }

  .brand li a:hover {
    text-decoration: none;
    text-decoration-color: #aa5e31;
    border-bottom: 2px solid #aa5e31;
  }

  .hambugger {
    display: flex;
    max-width: 20%;
    list-style-type: none;
    font-size: 1.5rem;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    left: 350px;
    margin-left: auto;
    align-items: center;
    text-align: center;
    justify-self: center;
  }

  /*new*/
  .rewind {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    height: 2vh;
    border: none;
    background-color: white;
  }

  .wind button {
    color: #3d405b;
    border: none;
    background-color: inherit;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    margin: 2rem;
  }

  #blue:hover {
    fill: #aa5e31;
  }

  .wind button:hover {
    color: #aa5e31;
  }

  /*new*/
  .real {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    height: 5vh;
    padding: 3rem;
    padding-left: 6rem;
    padding-top: 5rem;
    background-color: white;
  }

  .real1 h1 {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
  }

  /* new*/
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    height: auto;
    background-color: white;
    padding: 2rem;
  }

  .one {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    height: auto;
    width: 80%;
    border-radius: 8px;
    text-align: left;
    padding: 2rem;
    line-height: 28px;
  }

  .two {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);

    height: auto;
    width: 80%;
    border-radius: 8px;
    text-align: left;
    line-height: 28px;
    padding: 2rem;
  }

  .three {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
    height: 67vh;
    line-height: 28px;
    width: 80%;
    border-radius: 8px;
    padding: 2rem;
  }

  .one img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .two img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .three img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .main button {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    background-color: #aa5e31;
    color: #ffffff;
    width: 100px;
    border: none;
    height: 30px;
    border-radius: 5px;
    font-weight: 600;
  }

  .one a {
    font-size: 1rem;
    margin-left: 1.2rem;
    color: #ffffff;
  }

  /*new*/
  .main3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    height: auto;
    background-color: white;
    padding: 2rem;
  }

  .seven {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    height: auto;
    width: 80%;
    border-radius: 8px;
    text-align: left;
    padding: 2rem;
    line-height: 28px;
  }

  .eight {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);

    height: auto;
    width: 80%;
    border-radius: 8px;
    text-align: left;
    line-height: 28px;
    padding: 2rem;
  }

  .nine {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
    height: 67vh;
    line-height: 28px;
    width: 80%;
    border-radius: 8px;
    padding: 2rem;
  }

  .seven img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .eight img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .nine img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .main2 button {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    background-color: #aa5e31;
    color: #ffffff;
    width: 100px;
    border: none;
    height: 30px;
    border-radius: 5px;
    font-weight: 600;
  }

  /*new*/
  .main2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    height: auto;
    background-color: white;
    padding: 2rem;
  }

  .four {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    height: auto;
    width: 80%;
    border-radius: 8px;
    text-align: left;
    padding: 2rem;
    line-height: 28px;
  }

  .five {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);

    height: auto;
    width: 80%;
    border-radius: 8px;
    text-align: left;
    line-height: 28px;
    padding: 2rem;
  }

  .six {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
    height: 67vh;
    line-height: 28px;
    width: 80%;
    border-radius: 8px;
    padding: 2rem;
  }

  .four img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .five img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .five img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .main3 button {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    background-color: #aa5e31;
    color: #ffffff;
    width: 100px;
    border: none;
    height: 30px;
    border-radius: 5px;
    font-weight: 600;
  }

  /*next*/
  .next {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    height: auto;
    padding: 1rem;
    padding-left: 4rem;

    background-color: white;
    padding-bottom: 2rem;
  }

  .next1 h1 {
    color: #aa5e31;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    margin-left: 1rem;
  }

  .next2 {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    color: #33333399;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
  }

  .next3 h1 {
    color: #aa5e31;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    margin-right: 5rem;
  }

  .next h1:hover {
    color: #3d405b;
  }

  #bel:hover {
    fill: #3d405b;
  }

  #bel {
    fill: #ffffff;
  }

  /*footer*/
  footer {
    width: 100%;
    margin: auto;
    background-color: #3d405b;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Montserrat", serif;
    align-self: start;
    padding: 3rem;
  }

  .copyright {
    width: 90%;
    background-color: #3d405b;
    height: 36vh;
    display: flex;
    justify-content: left;
    font-family: "Montserrat", serif;
    align-self: start;
  }

  .started button {
    display: block;
    margin: 1rem;
    margin-left: 0px;
    width: 120px;
    height: 4vh;
    font-weight: 500;
    border: none;
    font-size: 1.3rem;
    border-radius: 3px;
    color: #3d405b;
  }

  .started button a {
    font-size: 1.3rem;
    color: #3d405b;
  }

  .start {
    display: block;
    font-size: 12px;
  }

  .eleven {
    max-width: 90%;
    height: 2rem;
    line-height: 23.18px;
    left: 150px;
    padding-left: 2rem;
    float: left;
    align-items: center;
    margin-top: 2rem;
  }

  .eleven a {
    color: #ffffff;
    font-size: 3.5rem;
    font-weight: 600;
  }

  .eleven span {
    color: #aa5e31;
  }

  .eleven h1 {
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: 2rem;
  }

  .right {
    width: 90%;

    background-color: #3d405b;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    justify-content: left;
    font-family: "Montserrat", serif;
    align-self: start;
  }

  .twelve {
    margin-top: 0.1rem;
  }

  .thirteen {
    margin-top: 0.1rem;
  }

  .fourteen {
    margin-top: 0.1rem;
  }

  .fifteen {
    margin-top: 0.1rem;
  }

  footer li {
    list-style-type: none;
    color: #ffffff;
    padding: 1rem;
    margin-left: 2rem;
    font-weight: 300;
    font-size: 1.3rem;
  }

  footer p {
    list-style-type: none;
    color: #ffffff;
    padding: 1rem;
    margin-left: 2rem;
    font-weight: 300;
    font-size: 1.1rem;
  }

  footer li:hover {
    color: #aa5e31;
  }

  footer button :hover {
    color: white;
    background-color: #aa5e31;
  }

  footer button:hover {
    color: white;
    background-color: #aa5e31;
  }

  .sixteen {
    height: auto;
    background-color: #3d405b;
    display: flex;
    font-size: 0.5rem;
    color: #ffffff;
    justify-content: left;
    padding-left: 3rem;
  }
}

@media only screen and (max-width: 390px) {
  /* For mobile phones: */

  .brand {
    display: flex;
    position: relative;
    width: 100%;
    height: 9.5vh;
    color: #ffffff;
    background-color: #3d405b;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border: none;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    border-left: 0.1px solid white;
  }

  .brand-name {
    max-width: 20.8rem;
    height: 2vh;
    line-height: 33.18px;
    left: 50px;
    padding-left: 3rem;
    float: left;
    align-items: center;
  }

  .brand-name a {
    color: #ffffff;
    font-size: 2.8rem;
    font-weight: 600;
  }

  .brand-name span {
    color: #aa5e31;
  }

  .brand-nav {
    display: none;
    height: 5vh;
    max-width: 60%;
    list-style-type: none;
    font-size: 1.5rem;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    left: 190px;
    align-items: center;
    text-align: center;
    justify-self: center;
  }

  .brand nav ul li a {
    color: #ffffff;
    float: left;
    list-style-type: none;
    font-size: 14px;
    gap: 10;
  }

  .brand li {
    list-style-type: none;
    float: left;
    margin: 2rem;
  }

  .brand li a:hover {
    text-decoration: none;
    text-decoration-color: #aa5e31;
    border-bottom: 2px solid #aa5e31;
  }

  .hambugger {
    display: flex;
    max-width: 20%;
    list-style-type: none;
    font-size: 1.5rem;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    left: 350px;
    margin-left: auto;
    align-items: center;
    text-align: center;
    justify-self: center;
  }

  /*new*/
  .rewind {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    height: 2vh;
    border: none;
    background-color: white;
  }

  .wind button {
    color: #3d405b;
    border: none;
    background-color: inherit;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    margin: 2rem;
  }

  #blue:hover {
    fill: #aa5e31;
  }

  .wind button:hover {
    color: #aa5e31;
  }

  /*new*/
  .real {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    height: 5vh;
    padding: 3rem;
    padding-left: 6rem;
    padding-top: 5rem;
    background-color: white;
  }

  .real1 h1 {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
  }

  /* new*/
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    height: auto;
    background-color: white;
    padding: 2rem;
  }

  .one {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    height: auto;
    width: 80%;
    border-radius: 8px;
    text-align: left;
    padding: 2rem;
    line-height: 28px;
  }

  .two {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);

    height: auto;
    width: 80%;
    border-radius: 8px;
    text-align: left;
    line-height: 28px;
    padding: 2rem;
  }

  .three {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
    height: 67vh;
    line-height: 28px;
    width: 80%;
    border-radius: 8px;
    padding: 2rem;
  }

  .one img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .two img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .three img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .main button {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    background-color: #aa5e31;
    color: #ffffff;
    width: 100px;
    border: none;
    height: 30px;
    border-radius: 5px;
    font-weight: 600;
  }

  .one a {
    font-size: 1rem;
    margin-left: 1.2rem;
    color: #ffffff;
  }

  /*new*/
  .main3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    height: auto;
    background-color: white;
    padding: 2rem;
  }

  .seven {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    height: auto;
    width: 80%;
    border-radius: 8px;
    text-align: left;
    padding: 2rem;
    line-height: 28px;
  }

  .eight {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);

    height: auto;
    width: 80%;
    border-radius: 8px;
    text-align: left;
    line-height: 28px;
    padding: 2rem;
  }

  .nine {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
    height: 67vh;
    line-height: 28px;
    width: 80%;
    border-radius: 8px;
    padding: 2rem;
  }

  .seven img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .eight img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .nine img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .main2 button {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    background-color: #aa5e31;
    color: #ffffff;
    width: 100px;
    border: none;
    height: 30px;
    border-radius: 5px;
    font-weight: 600;
  }

  /*new*/
  .main2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    height: auto;
    background-color: white;
    padding: 2rem;
  }

  .four {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    height: auto;
    width: 80%;
    border-radius: 8px;
    text-align: left;
    padding: 2rem;
    line-height: 28px;
  }

  .five {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);

    height: auto;
    width: 80%;
    border-radius: 8px;
    text-align: left;
    line-height: 28px;
    padding: 2rem;
  }

  .six {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
    height: 67vh;
    line-height: 28px;
    width: 80%;
    border-radius: 8px;
    padding: 2rem;
  }

  .four img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .five img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .six img {
    width: 100%;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
  }

  .main3 button {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    background-color: #aa5e31;
    color: #ffffff;
    width: 100px;
    border: none;
    height: 30px;
    border-radius: 5px;
    font-weight: 600;
  }

  /*next*/
  .next {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    height: auto;
    padding: 1rem;
    padding-left: 4rem;

    background-color: white;
    padding-bottom: 2rem;
  }

  .next1 h1 {
    color: #aa5e31;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    margin-left: 1rem;
  }

  .next2 {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    color: #33333399;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
  }

  .next3 h1 {
    color: #aa5e31;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    margin-right: 5rem;
  }

  .next h1:hover {
    color: #3d405b;
  }

  #bel:hover {
    fill: #3d405b;
  }

  #bel {
    fill: #ffffff;
  }

  /*footer*/
  footer {
    width: 100%;
    margin: auto;
    background-color: #3d405b;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Montserrat", serif;
    align-self: start;
    padding: 3rem;
  }

  .copyright {
    width: 90%;
    background-color: #3d405b;
    height: 36vh;
    display: flex;
    justify-content: left;
    font-family: "Montserrat", serif;
    align-self: start;
  }

  .started button {
    display: block;
    margin: 1rem;
    margin-left: 0px;
    width: 120px;
    height: 4vh;
    font-weight: 500;
    border: none;
    font-size: 1.3rem;
    border-radius: 3px;
    color: #3d405b;
  }

  .started button a {
    font-size: 1.3rem;
    color: #3d405b;
  }

  .start {
    display: block;
    font-size: 12px;
  }

  .eleven {
    max-width: 90%;
    height: 2rem;
    line-height: 23.18px;
    left: 150px;
    padding-left: 2rem;
    float: left;
    align-items: center;
    margin-top: 2rem;
  }

  .eleven a {
    color: #ffffff;
    font-size: 3.5rem;
    font-weight: 600;
  }

  .eleven span {
    color: #aa5e31;
  }

  .eleven h1 {
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: 2rem;
  }

  .right {
    width: 90%;

    background-color: #3d405b;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    justify-content: left;
    font-family: "Montserrat", serif;
    align-self: start;
  }

  .twelve {
    margin-top: 0.1rem;
  }

  .thirteen {
    margin-top: 0.1rem;
  }

  .fourteen {
    margin-top: 0.1rem;
  }

  .fifteen {
    margin-top: 0.1rem;
  }

  footer li {
    list-style-type: none;
    color: #ffffff;
    padding: 1rem;
    margin-left: 2rem;
    font-weight: 300;
    font-size: 1.3rem;
  }

  footer p {
    list-style-type: none;
    color: #ffffff;
    padding: 1rem;
    margin-left: 2rem;
    font-weight: 300;
    font-size: 1.1rem;
  }

  footer li:hover {
    color: #aa5e31;
  }

  footer button :hover {
    color: white;
    background-color: #aa5e31;
  }

  footer button:hover {
    color: white;
    background-color: #aa5e31;
  }

  .sixteen {
    height: auto;
    background-color: #3d405b;
    display: flex;
    font-size: 0.5rem;
    color: #ffffff;
    justify-content: left;
    padding-left: 3rem;
  }
}