@import url("/css/common.css");
@import url("/css/seller_profile.css");


/* General Input */
.input-group-cont {
    display: flex;
    gap: var(--size-200);
    flex-wrap: wrap;
}

.input-group-cont>* {
    flex: 1 1;
}

.input-group-cont .input-group,
.input-group-cont .input-group input,
.input-group-cont .input-group select {
    width: 100%;
    min-width: var(--size-200);
}

.select-group-cont {
    display: flex;
    gap: var(--size-20);
    flex-wrap: wrap;
}

.form-btn-group {
    display: flex;
    gap: var(--size-10);
    flex-wrap: wrap;
}

.form-btn-group button {
    outline: none;
    border: none;
    font-size: var(--size-14);
    line-height: var(--size-20);
    font-weight: 450;
    color: var(--cl-white-400);
    padding: var(--size-08) var(--size-20);
    border-radius: var(--size-08);
}

.form-btn-group .cancel {
    background-color: #ff0000e9;
    cursor: pointer;
}

.form-btn-group .save {
    background-color: var(--cl-secondary-400);
    cursor: pointer;
}

.form-btn-group .save:hover {
    background-color: #303247;
    cursor: pointer;
}

.form-btn-group .cancel:hover {
    background-color: #FF0000;
}