body {
  font-family: "Montserrat", serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: weight;
  background-color: black;
}
.container3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  height: 99.8vh;
  width: 116rem;

  gap: 0px;
  opacity: 0px;
  background: #ffffff;
  margin: auto;
}

.contain h1 {
  font-size: 3.7rem;
  font-weight: 500;
  line-height: 48.2px;
  font-family: "Montserrat", serif;
  text-align: center;
  color: #3d405b;
}
.contain h2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 14.4px;
  text-align: center;
  width: 296px;
  height: 28px;
  gap: 0px;
  opacity: 1px;
  margin-bottom: 5rem;
  margin-left: 6rem;
  color: #3d405b;
  font-family: "Montserrat", serif;
}

#password {
  width: 432px;
  height: 45px;
  font-size: 1.2rem;
  padding: 10px;
  gap: 10px;
  border-radius: 7px;
  opacity: 0px;
  border: 0.1px solid #00000066;
  color: #989898;
  border: none;
  font-weight: 400;
  font-family: "Montserrat", serif;
  line-height: 36px;
  background-color: #f6f6f6;
}
#pwd {
  width: 432px;
  height: 65px;
  padding: 12px 2px 12px 2px;
  gap: 10px;
  border-radius: 7px;
  opacity: 0px;
  background-color: #3d405b;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 1.7rem;
}
.a {
  display: inline-block;
  font-size: 1.2rem;
  border: none;
  color: #3D405B;
;
  font-family: "Montserrat", serif;
  line-height: 26px;

  font-weight: 600;
}
::placeholder {
  color: #b9b9b999;
  opacity: 1;
}
#password:hover {
  cursor: pointer;
  color: black;
  border: 1px solid rgb(73, 146, 206);
  text-decoration: none;
}
#pwd:hover {
  cursor: pointer;
  color: white;
  background-color: #aa5e31;
}

.a:hover {
  color: rgb(73, 146, 206);
}
.