* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: weight;
  background-color: black;
  overflow-x: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 93.8vh;
  width: 96rem;
  margin: auto;
  background: #3d405b;
  font-family: "Montserrat", serif;
  border-radius: 20px;
  margin-top: 2rem;
}

.intro-text button {
  color: #ffffff;
  border: none;
  background-color: inherit;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
}

#reel:hover {
  color: #aa5e31;
}

#reel {
  color: #ffffff;
  font-weight: 400;
}
.intro-img {
  height: 93.8vh;
  width: 48rem;
}
.intro-img img {
  width: 100%;
  height: 93.8vh;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.intro-text {
  height: 90.8vh;
  width: 42rem;
  color: #ffffff;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", serif;
  margin-top: 3rem;
}

.intro-text h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 46.2px;
  margin-right: 4rem;
  text-align: center;
}

.intro-text p {
  display: inline;
}
.intro-text a:hover {
  color: #ffffff;
}
.intro-text a {
  color: #aa5e31;
  font-weight: 700;
  font-size: 1.2rem;
}

.intro-text h2 {
  font-weight: 300;
  font-size: 1.1rem;
  color: #a6a6a6;
  display: inline;
  text-align: center;
  line-height: 10px;
  margin-left: 6rem;
}
.a {
  display: inline-block;
  font-weight: 500;
  font-size: 1.2rem;
  border: none;
  color: #ffffff;
  line-height: 24px;

  font-weight: 400;
}
.t {
  display: inline-block;
  font-weight: 500;
  font-size: 1.2rem;
  border: none;
  color: #ffffff;
  line-height: 24px;

  font-weight: 400;
}
.b {
  display: inline-block;
  color: #b9b9b999;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 500;
  line-height: 24px;
  font-weight: 400;
}
.p1 {
  font-weight: 300;
  font-size: 1.1rem;
  display: inline;
  vertical-align: middle;
  line-height: 3px;
}
.a span {
  color: #aa5e31;
  font-weight: 400;
  font-size: 1rem;
  display: inline;
  vertical-align: middle;
  line-height: 3px;
}
::placeholder {
  color: #12111199;
  opacity: 1;
}
#username:hover {
  cursor: pointer;
  color: black;
  border: 1px solid rgb(73, 146, 206);
}
#submit:hover {
  cursor: pointer;
  color: white;
  background-color: #aa5e31;
}
#email:hover {
  cursor: pointer;
  color: black;
  border: 1px solid rgb(73, 146, 206);
}
#password:hover {
  cursor: pointer;
  color: black;
  border: 1px solid rgb(73, 146, 206);
}

#username {
  width: 185px;
  height: 50px;
  padding: 7px;
  gap: 20px;
  border-radius: 7px;
  opacity: 0px;
  background-color: #686b8c;
  border: none;
  color: white;
  text-align: left;
  font-size: 1.3rem;
  margin: 0.2rem;
}
#email {
  width: 380px;
  height: 50px;
  padding: 8px;
  gap: 10px;
  border-radius: 7px;
  opacity: 0px;
  background-color: #686b8c;
  border: none;
  color: white;
  text-align: left;
  font-size: 1.3rem;
}
#password {
  width: 380px;
  height: 50px;
  padding: 8px;
  gap: 10px;
  border-radius: 7px;
  opacity: 0px;
  background-color: #686b8c;
  border: none;
  color: white;
  text-align: left;
  font-size: 1.3rem;
}
.p-viewer {
  z-index: 9999;
  position: absolute;
  left: 890px;
  top: 385px;
  margin-top: -60px;
}
.p-viewer1 {
  z-index: 9999;
  position: absolute;
  left: 890px;
  top: 456px;
  margin-top: -60px;
}
.fa-eye-slash {
  font-size: 14px;
  color: #f7f2f2d3;
}
#submit {
  width: 380px;
  height: 50px;
  padding: 12px 2px 12px 2px;
  gap: 10px;
  border-radius: 7px;
  opacity: 0px;
  background-color: #f3f3f3;
  border: none;
  color: #3d405b;
  text-align: center;
  font-size: 1.5rem;
}
h3 {
  font-size: 13px;
  margin-top: 1rem;
  font-weight: 400;
}
#checkbox {
}

@media only screen and (max-width: 1024px) {
  /* For tablet phones: */
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 110.8vh;
    width: 80%;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    background: #3d405b;
    font-family: "Montserrat", serif;
    border-radius: 10px;
  }

  .intro-text button {
    color: #ffffff;
    border: none;
    background-color: inherit;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 300;
    display: none;
    justify-content: left;
    align-items: flex-start;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
  }
  .intro-text a {
    color: #ffffff;
  }
  #blue:hover {
    fill: #aa5e31;
  }
  .intro-text button a:hover {
    color: #aa5e31;
  }
  .intro-img {
    display: none;
  }
  .intro-img img {
    display: none;
    width: 100%;
    height: 89.8vh;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .intro-text {
    margin-left: auto;
    height: 70vh;
    width: 90%;
    color: #ffffff;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", serif;
    margin-top: 5rem;
    margin-bottom: auto;
  }
  .intro-text h1 {
    font-size: 4rem;
    font-weight: 400;
    line-height: 44.2px;
    margin-right: 12rem;
    text-align: center;
  }

  .intro-text p {
    display: inline;
  }
  .intro-text a {
    color: #aa5e31;
    font-weight: 700;
    font-size: 1rem;
  }

  .intro-text h2 {
    font-weight: 300;
    font-size: 1.1rem;
    color: #a6a6a6;
    display: inline;
    text-align: center;
    line-height: 20px;
    margin-left: 18.2rem;
  }
  .a {
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
    border: none;
    color: #ffffff;
    line-height: 24px;

    font-weight: 400;
  }
  .t {
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
    border: none;
    color: #ffffff;
    line-height: 24px;
    margin-top: 2rem;
    font-weight: 400;
  }
  .b {
    display: inline-block;
    color: #b9b9b999;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 400;
    line-height: 24px;
    font-weight: 400;
  }
  .p1 {
    font-weight: 300;
    font-size: 1.1rem;
    display: inline;
    vertical-align: middle;
    line-height: 3px;
  }
  .a span {
    color: #aa5e31;
    font-weight: 400;
    font-size: 1.1rem;
    display: inline;
    vertical-align: middle;
    line-height: 3px;
  }

  ::placeholder {
    color: #12111199;
    font-weight: 500;
    opacity: 1;
  }
  #username:hover {
    cursor: pointer;
    color: black;
    border: 1px solid rgb(73, 146, 206);
  }
  #submit:hover {
    cursor: pointer;
    color: white;
    background-color: #aa5e31;
  }
  #email:hover {
    cursor: pointer;
    color: black;
    border: 1px solid rgb(73, 146, 206);
  }
  #password:hover {
    cursor: pointer;
    color: black;
    border: 1px solid rgb(73, 146, 206);
  }

  #username {
    width: 310px;
    height: 65px;
    padding: 7px;
    gap: 20px;
    border-radius: 7px;
    opacity: 0px;
    background-color: #686b8c;
    border: none;
    color: white;
    text-align: left;
    font-size: 1.3rem;
    margin: 0.2rem;
    font-family: inherit;
    font-weight: 600;
  }
  #email {
    width: 630px;
    height: 65px;
    padding: 8px;
    gap: 10px;
    border-radius: 7px;
    opacity: 0px;
    background-color: #686b8c;
    border: none;
    color: white;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: inherit;
  }
  #password {
    width: 630px;
    height: 65px;
    padding: 8px;
    gap: 10px;
    border-radius: 7px;
    opacity: 0px;
    background-color: #686b8c;
    border: none;
    color: white;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: inherit;
  }
  .p-viewer {
    z-index: 9999;
    position: absolute;
    left: 638px;
    top: 404px;
    margin-top: -60px;
  }
  .p-viewer1 {
    z-index: 9999;
    position: absolute;
    left: 638px;
    top: 495px;
    margin-top: -60px;
  }
  .fa-eye-slash {
    font-size: 15px;
    color: #f3f3f3;
  }
  .h3 {
    font-size: 10px;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  #submit {
    width: 630px;
    height: 65px;
    padding: 10px 2px 12px 2px;
    gap: 10px;
    border-radius: 7px;
    opacity: 0px;
    background-color: #f3f3f3;
    border: none;
    color: #3d405b;
    text-align: center;

    font-size: 2rem;
    font-weight: 500;
  }
}

@media only screen and (max-width: 820px) {
  /* For tablet phones: */
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 110.8vh;
    width: 80%;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    background: #3d405b;
    font-family: "Montserrat", serif;
    border-radius: 10px;
  }

  .intro-text button {
    color: #ffffff;
    border: none;
    background-color: inherit;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 300;
    display: none;
    justify-content: left;
    align-items: flex-start;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
  }
  .intro-text a {
    color: #ffffff;
  }
  #blue:hover {
    fill: #aa5e31;
  }
  .intro-text button a:hover {
    color: #aa5e31;
  }
  .intro-img {
    display: none;
  }
  .intro-img img {
    display: none;
    width: 100%;
    height: 89.8vh;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .intro-text {
    margin-left: auto;
    height: 50vh;
    width: 90%;
    color: #ffffff;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", serif;
    margin-top: 5rem;
    margin-bottom: auto;
  }
  .intro-text h1 {
    font-size: 4rem;
    font-weight: 400;
    line-height: 44.2px;
    margin-right: 12rem;
    text-align: center;
  }

  .intro-text p {
    display: inline;
  }
  .intro-text a {
    color: #aa5e31;
    font-weight: 700;
    font-size: 1rem;
  }

  .intro-text h2 {
    font-weight: 300;
    font-size: 1.1rem;
    color: #a6a6a6;
    display: inline;
    text-align: center;
    line-height: 20px;
    margin-left: 5.2rem;
  }
  .a {
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
    border: none;
    color: #ffffff;
    line-height: 24px;

    font-weight: 400;
  }
  .t {
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
    border: none;
    color: #ffffff;
    line-height: 24px;
    margin-top: 2rem;
    font-weight: 400;
  }
  .b {
    display: inline-block;
    color: #b9b9b999;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 400;
    line-height: 24px;
    font-weight: 400;
  }
  .p1 {
    font-weight: 300;
    font-size: 1.1rem;
    display: inline;
    vertical-align: middle;
    line-height: 3px;
  }
  .a span {
    color: #aa5e31;
    font-weight: 400;
    font-size: 1.1rem;
    display: inline;
    vertical-align: middle;
    line-height: 3px;
  }

  ::placeholder {
    color: #12111199;
    font-weight: 500;
    opacity: 1;
  }
  #username:hover {
    cursor: pointer;
    color: black;
    border: 1px solid rgb(73, 146, 206);
  }
  #submit:hover {
    cursor: pointer;
    color: white;
    background-color: #aa5e31;
  }
  #email:hover {
    cursor: pointer;
    color: black;
    border: 1px solid rgb(73, 146, 206);
  }
  #password:hover {
    cursor: pointer;
    color: black;
    border: 1px solid rgb(73, 146, 206);
  }

  #username {
    width: 260px;
    height: 60px;
    padding: 7px;
    gap: 20px;
    border-radius: 7px;
    opacity: 0px;
    background-color: #686b8c;
    border: none;
    color: white;
    text-align: left;
    font-size: 1.3rem;
    margin: 0.2rem;
    font-family: inherit;
    font-weight: 600;
  }
  #email {
    width: 530px;
    height: 60px;
    padding: 8px;
    gap: 10px;
    border-radius: 7px;
    opacity: 0px;
    background-color: #686b8c;
    border: none;
    color: white;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: inherit;
  }
  #password {
    width: 530px;
    height: 60px;
    padding: 8px;
    gap: 10px;
    border-radius: 7px;
    opacity: 0px;
    background-color: #686b8c;
    border: none;
    color: white;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: inherit;
  }
  .p-viewer {
    z-index: 9999;
    position: absolute;
    left: 548px;
    top: 389px;
    margin-top: -60px;
  }
  .p-viewer1 {
    z-index: 9999;
    position: absolute;
    left: 548px;
    top: 478px;
    margin-top: -60px;
  }
  .fa-eye-slash {
    font-size: 15px;
    color: #f3f3f3;
  }
  #submit {
    width: 530px;
    height: 60px;
    padding: 10px 2px 12px 2px;
    gap: 10px;
    border-radius: 7px;
    opacity: 0px;
    background-color: #f3f3f3;
    border: none;
    color: #3d405b;
    text-align: center;

    font-size: 2rem;
    font-weight: 500;
  }
}

@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100.8vh;
    width: 100%;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    background: #3d405b;
    font-family: "Montserrat", serif;
    border-radius: 10px;
    margin-top: 0.1rem;
  }

  .intro-text button {
    color: #ffffff;
    border: none;
    background-color: inherit;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 300;
    display: none;
    justify-content: left;
    align-items: flex-start;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
  }
  .intro-text a {
    color: #ffffff;
  }
  #blue:hover {
    fill: #aa5e31;
  }
  .intro-text button a:hover {
    color: #aa5e31;
  }
  .intro-img {
    display: none;
  }
  .intro-img img {
    display: none;
    width: 100%;
    height: 89.8vh;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .intro-text {
    margin-left: 1rem;
    height: 80vh;
    width: 80%;
    color: #ffffff;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", serif;
    margin-top: 5rem;
    margin-bottom: auto;
  }
  .intro-text h1 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 34.2px;
    margin-right: 6rem;
    text-align: center;
  }

  .intro-text p {
    display: inline;
  }
  .intro-text a {
    color: #aa5e31;
    font-weight: 700;
    font-size: 1rem;
  }

  .intro-text h2 {
    font-weight: 300;
    font-size: 1.2rem;
    color: #a6a6a6;
    display: inline;
    text-align: center;
    line-height: 20px;
    margin-left: 2.2rem;
  }
  .a {
    display: inline-block;
    font-weight: 400;
    font-size: 1.1rem;
    border: none;
    color: #ffffff;
    line-height: 24px;

    font-weight: 400;
  }
  .b {
    display: inline-block;
    color: #b9b9b999;
    font-size: 1.1rem;
    color: #ffffff;
    font-weight: 400;
    line-height: 24px;
    font-weight: 400;
  }
  .p1 {
    font-weight: 300;
    font-size: 1.1rem;
    display: inline;
    vertical-align: middle;
    line-height: 3px;
  }
  .a span {
    color: #aa5e31;
    font-weight: 400;
    font-size: 1.1rem;
    display: inline;
    vertical-align: middle;
    line-height: 3px;
  }

  ::placeholder {
    color: #12111199;
    font-weight: 500;
    opacity: 1;
  }
  #username:hover {
    cursor: pointer;
    color: black;
    border: 1px solid rgb(73, 146, 206);
  }
  #submit:hover {
    cursor: pointer;
    color: white;
    background-color: #aa5e31;
  }
  #email:hover {
    cursor: pointer;
    color: black;
    border: 1px solid rgb(73, 146, 206);
  }
  #password:hover {
    cursor: pointer;
    color: black;
    border: 1px solid rgb(73, 146, 206);
  }

  #username {
    width: 175px;
    height: 60px;
    padding: 7px;
    gap: 20px;
    border-radius: 7px;
    opacity: 0px;
    background-color: #686b8c;
    border: none;
    color: white;
    text-align: left;
    font-size: 1.1rem;
    margin: 0.2rem;
    font-family: inherit;
    font-weight: 600;
  }
  #email {
    width: 360px;
    height: 60px;
    padding: 8px;
    gap: 10px;
    border-radius: 7px;
    opacity: 0px;
    background-color: #686b8c;
    border: none;
    color: white;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: inherit;
  }
  #password {
    width: 360px;
    height: 60px;
    padding: 8px;
    gap: 10px;
    border-radius: 7px;
    opacity: 0px;
    background-color: #686b8c;
    border: none;
    color: white;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: inherit;
  }
  .p-viewer {
    z-index: 9999;
    position: absolute;
    left: 378px;
    top: 384px;
    margin-top: -60px;
  }
  .p-viewer1 {
    z-index: 9999;
    position: absolute;
    left: 378px;
    top: 465px;
    margin-top: -60px;
  }
  .fa-eye-slash {
    font-size: 10px;
    color: #f3f3f3;
  }
  #submit {
    width: 360px;
    height: 60px;
    padding: 10px 2px 12px 2px;
    gap: 10px;
    border-radius: 7px;
    opacity: 0px;
    background-color: #f3f3f3;
    border: none;
    color: #3d405b;
    text-align: center;

    font-size: 1.2rem;
    font-weight: 500;
  }
}

@media only screen and (max-width: 390px) {
  /* For mobile phones: */
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100.8vh;
    width: 100%;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    background: #3d405b;
    font-family: "Montserrat", serif;
    border-radius: 10px;
    margin-top: 0.1rem;
  }

  .intro-text button {
    color: #ffffff;
    border: none;
    background-color: inherit;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 300;
    display: none;
    justify-content: left;
    align-items: flex-start;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
  }
  .intro-text a {
    color: #ffffff;
  }
  #blue:hover {
    fill: #aa5e31;
  }
  .intro-text button a:hover {
    color: #aa5e31;
  }
  .intro-img {
    display: none;
  }
  .intro-img img {
    display: none;
    width: 100%;
    height: 89.8vh;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .intro-text {
    margin-left: 1rem;
    height: 80vh;
    width: 80%;
    color: #ffffff;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", serif;
    margin-top: 5rem;
    margin-bottom: auto;
  }
  .intro-text h1 {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 34.2px;
    margin-right: 6rem;
    text-align: center;
  }

  .intro-text p {
    display: inline;
  }
  .intro-text a {
    color: #aa5e31;
    font-weight: 700;
    font-size: 1rem;
  }

  .intro-text h2 {
    font-weight: 300;
    font-size: 1.2rem;
    color: #a6a6a6;
    display: inline;
    text-align: center;
    line-height: 20px;
    margin-left: 2.2rem;
  }
  .a {
    display: inline-block;
    font-weight: 400;
    font-size: 1.1rem;
    border: none;
    color: #ffffff;
    line-height: 24px;

    font-weight: 400;
  }
  .b {
    display: inline-block;
    color: #b9b9b999;
    font-size: 1.1rem;
    color: #ffffff;
    font-weight: 400;
    line-height: 24px;
    font-weight: 400;
  }
  .p1 {
    font-weight: 300;
    font-size: 1.1rem;
    display: inline;
    vertical-align: middle;
    line-height: 3px;
  }
  .a span {
    color: #aa5e31;
    font-weight: 400;
    font-size: 1.1rem;
    display: inline;
    vertical-align: middle;
    line-height: 3px;
  }

  ::placeholder {
    color: #12111199;
    font-weight: 500;
    opacity: 1;
  }
  #username:hover {
    cursor: pointer;
    color: black;
    border: 1px solid rgb(73, 146, 206);
  }
  #submit:hover {
    cursor: pointer;
    color: white;
    background-color: #aa5e31;
  }
  #email:hover {
    cursor: pointer;
    color: black;
    border: 1px solid rgb(73, 146, 206);
  }
  #password:hover {
    cursor: pointer;
    color: black;
    border: 1px solid rgb(73, 146, 206);
  }

  #username {
    width: 145px;
    height: 50px;
    padding: 7px;
    gap: 20px;
    border-radius: 7px;
    opacity: 0px;
    background-color: #686b8c;
    border: none;
    color: white;
    text-align: left;
    font-size: 1.1rem;
    margin: 0.2rem;
    font-family: inherit;
    font-weight: 600;
  }
  #email {
    width: 300px;
    height: 60px;
    padding: 8px;
    gap: 10px;
    border-radius: 7px;
    opacity: 0px;
    background-color: #686b8c;
    border: none;
    color: white;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: inherit;
  }
  #password {
    width: 300px;
    height: 60px;
    padding: 8px;
    gap: 10px;
    border-radius: 7px;
    opacity: 0px;
    background-color: #686b8c;
    border: none;
    color: white;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: inherit;
  }
  .p-viewer {
    z-index: 9999;
    position: absolute;
    left: 308px;
    top: 374px;
    margin-top: -60px;
  }
  .p-viewer1 {
    z-index: 9999;
    position: absolute;
    left: 308px;
    top: 460px;
    margin-top: -60px;
  }
  .fa-eye-slash {
    font-size: 10px;
    color: #f3f3f3;
  }
  #submit {
    width: 300px;
    height: 60px;
    padding: 10px 2px 12px 2px;
    gap: 10px;
    border-radius: 7px;
    opacity: 0px;
    background-color: #f3f3f3;
    border: none;
    color: #3d405b;
    text-align: center;

    font-size: 1.2rem;
    font-weight: 500;
  }
}
