@import url("/css/common.css");

/* html {
    font-size: 50%;
} */

.container {
    padding-inline: var(--size-60);
}

.get-started .btn-container {
    width: 100%;
    text-align: center;
}

.landing .padding--inline-100 {
    padding-inline: var(--size-40);
}

.landing .padding--top-523 {
    padding-top: var(--size-25);
}

.main-nav nav.main,
.main-nav .btn-container.main {
    display: none;
}

.mobile-menu,
.hamburger-menu {
    display: block;
}

.hamburger-menu .mobile-close svg {
    fill: var(--cl-primary-400);
    width: var(--size-40);
}

.hamburger-menu nav a {
    display: flex;
    align-items: center;
    gap: var(--size-08);
}

.hamburger-menu nav a svg {
    stroke: var(--cl-white-400);
    width: var(--size-30);
    fill: transparent;
}

.hamburger-menu {
    display: block;
}

.mobile-menu {
    display: none;
}

.mobile-menu.show {
    display: block;
}

.mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: var(--cl-secondary-400);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding-inline: var(--size-40);
    padding-top: var(--size-40);
    pointer-events: auto;
}

.mobile-menu ul {
    list-style: none;
    margin: 0;
    padding: 1rem;
}

.mobile-menu li {
    margin-bottom: var(--size-20);
}

.mobile-menu a {
    font-size: var(--size-16);
    color: var(--cl-white-400);
}

.mobile-menu .btn-container {
    flex-direction: column;
    justify-self: left;
}

.hamburger-menu .dropdown {
    display: block;
    max-width: fit-content;
    background-color: var(--cl-white-400);
}

.svg--90dg {
    transform: rotate(180deg);
}

.hamburger-menu .dropdown ul {
    padding: 0;
}

.hamburger-menu .dropdown ul a {
    font-size: var(--size-18);
    color: var(--cl-secondary-400);
}

.hamburger-menu .dropdown ul li {
    padding: var(--size-10) var(--size-60);
}

.hamburger-menu .dropdown ul li:hover {
    background-color: var(--cl-primary-400);
}

.hamburger-menu .dropdown ul li:focus {
    border-bottom: none;
}

.landing .hamburger-menu nav ul a:hover {
    border-bottom: none;
}

.hamburger-menu .dropdown ul li:hover a {
    color: var(--cl-white-400);
}

.hero .text-block {
    padding-inline: var(--size-60);
}

.hero .text-block br {
    display: none;
}

.hero .heading--h1 {
    font-size: var(--size-32);
    line-height: var(--size-36);
    font-weight: 300;
}

.hero .paragraph--sm {
    font-weight: 100;
}

.statistics {
    padding: var(--size-10) 0 var(--size-10) 0;
}

.statistics .content {
    width: 90%;
    flex-wrap: unset;
}

.statistics .content>* {
    flex: 1 1 100%;
}

.statistics .content-block {
    width: 10rem;
    padding: var(--size-12) 0;
    border: none;
    border-radius: var(--size-08);
}

.statistics .heading--h3 {
    font-size: var(--size-18);
}

/* Services */
.service .text-block {
    max-width: 100%;
    text-align: center;
}

.service .text-block .margin--block-20 {
    text-align: center;
}

.service .grid-2-column {
    display: flex;
    grid-template-columns: unset;
    flex-direction: column-reverse;
}

/* Appointment */
.appointment .text-block {
    max-width: 100%;
}

.appointment .bg--secondary-400 {
    background-color: transparent;
}

.appointment .grid-2-column {
    grid-template-columns: 1fr;
}

.appointment .padding--inline-120 {
    padding-inline: 0;
}

.appointment .text-block {
    color: var(--cl-black-400);
    padding-inline: var(--size-60) !important;
}

.appointment .image-block {
    background-color: var(--cl-secondary-400);
    min-height: 55vh;
    position: relative;
}

.appointment .image-block img {
    position: absolute;
    inset: 0;
    margin: auto;
}

.appointment .image-block .vet-doctor {
    bottom: -15px;
}

.appointment .button--bg-primary:hover {
    border: 0.5px solid var(--cl-secondary-400);
}

.appointment .text-block {
    margin-top: var(--size-18);
    text-align: center;
    padding-inline: var(--size-40);
}

.appointment .text-block .margin--block-20 {
    text-align: center;
    margin-block: var(--size-10);
}

/* connect */
.connect .grid-2-column {
    display: flex;
    grid-template-columns: unset;
    flex-direction: column-reverse;
}

.connect .heading-text {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.connect .image-block {
    height: 100%;
    display: flex;
    gap: min(var(--size-40));
    align-items: flex-end;
}

.connect .image-block>*:nth-child(1) {
    margin-bottom: 2%;
}

.connect .image-block>*:nth-child(2) {
    margin-bottom: 5%;
}

.connect .text-block {
    max-width: 100%;
}

.connect .text-side-image {
    display: none;
}

.connect .image-block .top-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.connect .image-block .middle-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.connect .middle-block div:nth-child(3) {
    align-self: flex-end;
}

.connect .image-block .last-block {
    display: flex;
    flex-direction: column;
    gap: var(--size-30);

}

.connect .last-block div:nth-child(3) {
    align-self: flex-end;
}


/* Transaction */
.transaction .grid-2-column {
    grid-template-columns: 1fr;
    gap: var(--size-40);
}

.transaction .sub-block .flex-display {
    justify-content: left;
    margin-left: 0;
}

.transaction .text-block p.margin--block-20 {
    text-align: left;
}

.transaction .sub-block {
    max-width: fit-content;
}

/* How PetOga work */
.how-it-work .block-card {
    flex: 1;
    min-width: 40rem;
}

/* Blog */
.blog .block-card {
    flex: 1 1 100%;
}

/* Testimonial */
.testimonial .container {
    padding-inline: 15%;
}

.testimonial .content-block {
    margin-top: var(--size-50);
    border-radius: var(--size-10);
    border: 1px solid var(--cl-white-200);
    padding: 2%;
}

.testimonial .grid-2-column {
    grid-template-columns: 1fr;
}

.testimonial .image-block {
    display: flex;
    gap: var(--size-10);
    justify-content: center;
    align-items: center;
}

.testimonial .next .material-symbols-outlined,
.testimonial .previous .material-symbols-outlined {
    display: none;
}

.testimonial .next-mobile .material-symbols-outlined,
.testimonial .previous-mobile .material-symbols-outlined {
    display: inline-block;
}

/* FAQs */
.faq .heading {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.faq .heading .paragraph--sm {
    text-align: center;
}

.faq .grid-2-column {
    grid-template-columns: 1fr;
}

.faq .block-card {
    border-bottom: 1px solid var(--cl-white-200);
    padding-block: var(--size-15);
}

.faq .block-card .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--size-40);
}

/* Get Started */
.get-started .container--full-width {
    background-color: var(--cl-secondary-300);
    padding-inline: var(--size-40);
}

/* Footer */
.footer .content {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    gap: var(--size-60);
    color: #dadada;
}

.footer .content .footer-nav {
    flex: 1 1;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-nav>* {
    flex: 1 1 40%;
}