@import url("common.css");

/* Screen size 1024px */
html {
    font-size: 50%;
}

/* Appointment */
.appointment.padding--block-100{
    padding-block: var(--size-50);
}

.appointment .text-block {
    max-width: 100%;
}

.appointment .image-block {
    width: 100%;
    min-height: 45vh;
    position: relative;
}

.appointment .image-block img{
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    position: absolute;
}

.appointment .image-block .love{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    position: absolute;
    bottom: 0;
}

.appointment .image-block .vet-doctor{
    bottom: 0;
}


/* How it works */
.how-it-work .content-block {
    position: relative;
    flex-wrap: wrap;
}

.how-it-work .block-card{
    flex: 1;
    min-width: 33%;
    background-color: var(--cl-white-400);
    border-radius: var(--size-10);
    padding: var(--size-40);
    color: var(--cl-black-400);
    text-align: center;
}


.how-it-work .card-image-block {
    display: flex;
    justify-content: center;
}

/* Blog Resources */
.blog .block-card:nth-child(n+4) {
    display: none;
}

/* Testimonial */
.testimonial .grid-2-column {
    gap: 5rem;
}

/* Connect Pet vendors */
section.connect.padding--block-100 {
    padding-block: var(--size-10);
}

.connect .heading-text{
    max-width: 35vw;
}

.connect .heading-text .padding--block-25{
    padding-block: var(--size-10);
}