* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: weight;
  background-color: black;
}
.container1 {
  position: relative;
  display: flex;
  width: 90%;
  background-image: url("../components/images/crea2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
  height: 99.8vh;
}
.overlay {
  position: absolute;
  background-color: #3d405bcc;
  width: 100%;
  height: 99.8vh;
  margin: auto;
}
.cont2 {
  width: 612px;
  height: 406px;
  gap: 0px;
  border-radius: 10px;
  opacity: 0px;
  z-index: 1;
  background-color: #ffffff;
  margin: auto;
}
.cont2 img {
  width: 89.38px;
  height: 89.38px;
  margin-left: 14rem;
  margin-top: 3rem;
  gap: 0px;
  opacity: 0px;
  transform: rotate(-152.04deg);
}
img {
  display: inline-block;
}
h1 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  max-width: 43%;
  margin-left: 16rem;

  color: #3d405b;
}
h2 {
  display: inline-block;
  margin-left: 10rem;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  color: #aa5e31;
}

a {
  display: inline-block;
  margin-left: 10rem;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  color: #aa5e31;
}

span {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  max-width: 43%;

  color: #aa5e31;
}
.cont2 button {
  color: #3d405b;
  border: none;
  background-color: inherit;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  margin: 2rem;
}
.cont2 a:hover {
  text-decoration-color: #aa5e31;
  border-bottom: 2px solid #aa5e31;
}
.cont2 h2:hover {
  text-decoration-color: #aa5e31;
  border-bottom: 2px solid #aa5e31;
}
