@import url("common.css");

html {
    font-size: 50%;
}

/* Dashboard */
.home--grid {
    display: flex;
}

.home--grid .sidebar{
    display: none;
}

.home--grid .main-content {
    flex: 1;
}

.hamburger-menu .material-symbols-outlined {
    color: var(--cl-primary-400);
}

.top-horizontal-nav div:first-child,
.top-horizontal-nav div:nth-child(2){
    display: none;
}